@import "tailwindcss";
@import url('https://googleapis.com');


.playfair-display-main {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}



.zen-antique-soft-logo {
  font-family: "Zen Antique Soft", serif;
  font-weight: 400;
  font-style: normal;

}



.open-sans-main {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  
}


.cormorant-garamond-title {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }



.fashion-title {
  font-family: 'Monsieur La Doulaise', cursive;
}



.great-vibes-regular {
  font-family: "Great Vibes";
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: env(safe-area-inset-bottom);
}



 body{
  background-color:#F5F0E8;
 }

